body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
span {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content {
    margin-left: auto;
    width: 100%;
    transition: ease-in-out 0.3s;
    background-color: black;
}