body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
span {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content {
    width: 100%;
    transition: ease-in-out 0.3s;
    background-color: #f3f5f7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@keyframes dropdown-enter-animation {
  from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
  }
}