#header {
    width: 100vw;
    background-color: white;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid #e9eaec;
}

#header .header__layout {
    display: flex;
    padding: 8px 32px;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 8px;
}

.header__layout .header__layout-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 8px;
}

.header__layout-left .header__layout-brand {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__layout-brand .header__layout-logo {
    height: 38.4px !important;
    margin-right: 32px;
    margin-top: 8px;
    width: 92px !important;
}

.header__layout-left .header__group-items {
    margin: 0;
    float: left !important;
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

.header__layout-left .header__group-items .header__item {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.header__layout-left .header__group-items .header__item .dropdown-item {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 4px;
    padding: 12px;
    width: 400px;
    background-color: white;
    border: 1px solid #e9eaec;
    display: none;
    animation: dropdown-enter-animation 0.3s ease;
}

.header__layout-left .header__group-items .header__item .dropdown-item.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__layout-left .header__group-items .header__item .dropdown-item .item {
    cursor: pointer;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    display: flex;
    margin: 0;
    align-items: center;
    flex-direction: row;
    gap: 6px;
    transition: 0.3s ease;
}

.header__layout-left .header__group-items .header__item .dropdown-item .line {
    width: 100%;
    height: 1px;
    background-color: #e9eaec;
}

.header__layout-left .header__group-items .header__item .dropdown-item .item span {
    color: #00b14f;
    font-size: 24px;
}

.header__layout-left .header__group-items .header__item .dropdown-item .item .arrow-icon {
    display: none;
    margin-left: auto;
}

.header__layout-left .header__group-items .header__item .dropdown-item .item:hover .arrow-icon {
    display: block;
}

.header__layout-left .header__group-items .header__item .dropdown-item .item:hover .item-name {
    color: #00b14f;
}

.header__layout-left .header__group-items .header__item .dropdown-item .item .item-name {
    color: rgb(97, 97, 97);
    font-size: 14px;
    font-weight: 500;
}

.header__layout-left .header__group-items .header__item a {
    font-size: 14px;
    letter-spacing: 0.235px;
    line-height: 20px;
    margin: 16px 5px;
    padding: 14px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    cursor: pointer;
    font-weight: 600;
}

.header__layout-right {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header__layout-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__layout-icons .dropdown-toggle span {
    cursor: pointer;
    background-color: #e5f7ed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00b14f;
    border-radius: 9999px;
    font-size: 24px;
    padding: 8px;
}

.header__layout-right .header__layout-info {
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
    align-items: center;
}

.header__layout-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    max-width: 100%;
    vertical-align: middle;
}

.header__layout-info .fullname {
    font-size: 14px;
    font-weight: 600;
    color: black;
    display: block;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes dropdown-enter-animation {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
